obsolete/
dist/
plotter_env/
stronghold-plotter.spec
tempCodeRunnerFile.cpp
tempCodeRunnerFile.py

.vscode/
__pycache__/

build/*
observations/*
outputs/*
plots/*

!build/.gitkeep
!observations/.gitkeep
!outputs/.gitkeep
!plots/.gitkeep